<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>IconFont Demo</title>
  <link rel="shortcut icon" href="https://gtms04.alicdn.com/tps/i4/TB1_oz6GVXXXXaFXpXXJDFnIXXX-64-64.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="https://g.alicdn.com/thx/cube/1.3.2/cube.min.css">
  <link rel="stylesheet" href="demo.css">
  <link rel="stylesheet" href="iconfont.css">
  <script src="iconfont.js"></script>
  <!-- jQuery -->
  <script src="https://a1.alicdn.com/oss/uploads/2018/12/26/7bfddb60-08e8-11e9-9b04-53e73bb6408b.js"></script>
  <!-- 代码高亮 -->
  <script src="https://a1.alicdn.com/oss/uploads/2018/12/26/a3f714d0-08e6-11e9-8a15-ebf944d7534c.js"></script>
</head>
<body>
  <div class="main">
    <h1 class="logo"><a href="https://www.iconfont.cn/" title="iconfont 首页" target="_blank">&#xe86b;</a></h1>
    <div class="nav-tabs">
      <ul id="tabs" class="dib-box">
        <li class="dib active"><span>Unicode</span></li>
        <li class="dib"><span>Font class</span></li>
        <li class="dib"><span>Symbol</span></li>
      </ul>
      
      <a href="https://www.iconfont.cn/manage/index?manage_type=myprojects&projectId=870149" target="_blank" class="nav-more">查看项目</a>
      
    </div>
    <div class="tab-container">
      <div class="content unicode" style="display: block;">
          <ul class="icon_lists dib-box">
          
            <li class="dib">
              <span class="icon iconfont">&#xe600;</span>
                <div class="name">品牌</div>
                <div class="code-name">&amp;#xe600;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6cf;</span>
                <div class="name">灯泡</div>
                <div class="code-name">&amp;#xe6cf;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe69a;</span>
                <div class="name">扫描条形码</div>
                <div class="code-name">&amp;#xe69a;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe650;</span>
                <div class="name">设置</div>
                <div class="code-name">&amp;#xe650;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe62a;</span>
                <div class="name">调拨</div>
                <div class="code-name">&amp;#xe62a;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe616;</span>
                <div class="name">活动</div>
                <div class="code-name">&amp;#xe616;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe601;</span>
                <div class="name">库存</div>
                <div class="code-name">&amp;#xe601;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xea5e;</span>
                <div class="name">资源分配</div>
                <div class="code-name">&amp;#xea5e;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe651;</span>
                <div class="name">会员管理</div>
                <div class="code-name">&amp;#xe651;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe730;</span>
                <div class="name">box-箱子</div>
                <div class="code-name">&amp;#xe730;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe66e;</span>
                <div class="name">完成</div>
                <div class="code-name">&amp;#xe66e;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6a5;</span>
                <div class="name">首页</div>
                <div class="code-name">&amp;#xe6a5;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe758;</span>
                <div class="name">执行异常</div>
                <div class="code-name">&amp;#xe758;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe62c;</span>
                <div class="name">签到</div>
                <div class="code-name">&amp;#xe62c;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe61c;</span>
                <div class="name">等待审核</div>
                <div class="code-name">&amp;#xe61c;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6f7;</span>
                <div class="name">话题00</div>
                <div class="code-name">&amp;#xe6f7;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe60e;</span>
                <div class="name">视频</div>
                <div class="code-name">&amp;#xe60e;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe626;</span>
                <div class="name">PDA盘点</div>
                <div class="code-name">&amp;#xe626;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe63a;</span>
                <div class="name">首页-拣货</div>
                <div class="code-name">&amp;#xe63a;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe637;</span>
                <div class="name">验货</div>
                <div class="code-name">&amp;#xe637;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe629;</span>
                <div class="name">订单-删除</div>
                <div class="code-name">&amp;#xe629;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe604;</span>
                <div class="name">动态</div>
                <div class="code-name">&amp;#xe604;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe664;</span>
                <div class="name">打印</div>
                <div class="code-name">&amp;#xe664;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe65f;</span>
                <div class="name">库存盘点单</div>
                <div class="code-name">&amp;#xe65f;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe675;</span>
                <div class="name">调拨单</div>
                <div class="code-name">&amp;#xe675;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe66f;</span>
                <div class="name">基础事件分类</div>
                <div class="code-name">&amp;#xe66f;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe605;</span>
                <div class="name">AK-LV勋章_fill</div>
                <div class="code-name">&amp;#xe605;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe62d;</span>
                <div class="name">喇叭</div>
                <div class="code-name">&amp;#xe62d;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe618;</span>
                <div class="name">出库on</div>
                <div class="code-name">&amp;#xe618;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe61b;</span>
                <div class="name">入库on</div>
                <div class="code-name">&amp;#xe61b;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe63e;</span>
                <div class="name">password</div>
                <div class="code-name">&amp;#xe63e;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe602;</span>
                <div class="name">出库</div>
                <div class="code-name">&amp;#xe602;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe606;</span>
                <div class="name">入库</div>
                <div class="code-name">&amp;#xe606;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe64f;</span>
                <div class="name">商品</div>
                <div class="code-name">&amp;#xe64f;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe60f;</span>
                <div class="name">message</div>
                <div class="code-name">&amp;#xe60f;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe641;</span>
                <div class="name">提现-色块icon</div>
                <div class="code-name">&amp;#xe641;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe609;</span>
                <div class="name">订单</div>
                <div class="code-name">&amp;#xe609;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe611;</span>
                <div class="name">订单</div>
                <div class="code-name">&amp;#xe611;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe966;</span>
                <div class="name">会员管理</div>
                <div class="code-name">&amp;#xe966;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe625;</span>
                <div class="name">发货</div>
                <div class="code-name">&amp;#xe625;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe652;</span>
                <div class="name">财务</div>
                <div class="code-name">&amp;#xe652;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe603;</span>
                <div class="name">订单</div>
                <div class="code-name">&amp;#xe603;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe60c;</span>
                <div class="name">列表</div>
                <div class="code-name">&amp;#xe60c;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe610;</span>
                <div class="name">扫描</div>
                <div class="code-name">&amp;#xe610;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6ba;</span>
                <div class="name">提现充值</div>
                <div class="code-name">&amp;#xe6ba;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe6bb;</span>
                <div class="name">提现记录</div>
                <div class="code-name">&amp;#xe6bb;</div>
              </li>
          
            <li class="dib">
              <span class="icon iconfont">&#xe715;</span>
                <div class="name">username</div>
                <div class="code-name">&amp;#xe715;</div>
              </li>
          
          </ul>
          <div class="article markdown">
          <h2 id="unicode-">Unicode 引用</h2>
          <hr>

          <p>Unicode 是字体在网页端最原始的应用方式，特点是：</p>
          <ul>
            <li>兼容性最好，支持 IE6+，及所有现代浏览器。</li>
            <li>支持按字体的方式去动态调整图标大小，颜色等等。</li>
            <li>但是因为是字体，所以不支持多色。只能使用平台里单色的图标，就算项目里有多色图标也会自动去色。</li>
          </ul>
          <blockquote>
            <p>注意：新版 iconfont 支持多色图标，这些多色图标在 Unicode 模式下将不能使用，如果有需求建议使用symbol 的引用方式</p>
          </blockquote>
          <p>Unicode 使用步骤如下：</p>
          <h3 id="-font-face">第一步：拷贝项目下面生成的 <code>@font-face</code></h3>
<pre><code class="language-css"
>@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
      url('iconfont.woff2') format('woff2'),
      url('iconfont.woff') format('woff'),
      url('iconfont.ttf') format('truetype'),
      url('iconfont.svg#iconfont') format('svg');
}
</code></pre>
          <h3 id="-iconfont-">第二步：定义使用 iconfont 的样式</h3>
<pre><code class="language-css"
>.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</code></pre>
          <h3 id="-">第三步：挑选相应图标并获取字体编码，应用于页面</h3>
<pre>
<code class="language-html"
>&lt;span class="iconfont"&gt;&amp;#x33;&lt;/span&gt;
</code></pre>
          <blockquote>
            <p>"iconfont" 是你项目下的 font-family。可以通过编辑项目查看，默认是 "iconfont"。</p>
          </blockquote>
          </div>
      </div>
      <div class="content font-class">
        <ul class="icon_lists dib-box">
          
          <li class="dib">
            <span class="icon iconfont icon-pinpai"></span>
            <div class="name">
              品牌
            </div>
            <div class="code-name">.icon-pinpai
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-bulb"></span>
            <div class="name">
              灯泡
            </div>
            <div class="code-name">.icon-bulb
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-yanhuo"></span>
            <div class="name">
              扫描条形码
            </div>
            <div class="code-name">.icon-yanhuo
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-shezhi"></span>
            <div class="name">
              设置
            </div>
            <div class="code-name">.icon-shezhi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-icon-transfer"></span>
            <div class="name">
              调拨
            </div>
            <div class="code-name">.icon-icon-transfer
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-gift"></span>
            <div class="name">
              活动
            </div>
            <div class="code-name">.icon-gift
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-stock"></span>
            <div class="name">
              库存
            </div>
            <div class="code-name">.icon-stock
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-t-fenpei"></span>
            <div class="name">
              资源分配
            </div>
            <div class="code-name">.icon-t-fenpei
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-huiyuanguanli-copy"></span>
            <div class="name">
              会员管理
            </div>
            <div class="code-name">.icon-huiyuanguanli-copy
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-zhuangxiang"></span>
            <div class="name">
              box-箱子
            </div>
            <div class="code-name">.icon-zhuangxiang
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-t-wancheng"></span>
            <div class="name">
              完成
            </div>
            <div class="code-name">.icon-t-wancheng
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-shouye"></span>
            <div class="name">
              首页
            </div>
            <div class="code-name">.icon-shouye
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-zhixingyichang"></span>
            <div class="name">
              执行异常
            </div>
            <div class="code-name">.icon-zhixingyichang
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-qiandao"></span>
            <div class="name">
              签到
            </div>
            <div class="code-name">.icon-qiandao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-dengdaishenhe"></span>
            <div class="name">
              等待审核
            </div>
            <div class="code-name">.icon-dengdaishenhe
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-huati"></span>
            <div class="name">
              话题00
            </div>
            <div class="code-name">.icon-huati
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-video"></span>
            <div class="name">
              视频
            </div>
            <div class="code-name">.icon-video
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-t-pandian"></span>
            <div class="name">
              PDA盘点
            </div>
            <div class="code-name">.icon-t-pandian
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-t-jianhuo"></span>
            <div class="name">
              首页-拣货
            </div>
            <div class="code-name">.icon-t-jianhuo
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-t-yanhuo"></span>
            <div class="name">
              验货
            </div>
            <div class="code-name">.icon-t-yanhuo
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-yichangdingdan"></span>
            <div class="name">
              订单-删除
            </div>
            <div class="code-name">.icon-yichangdingdan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-dongtai"></span>
            <div class="name">
              动态
            </div>
            <div class="code-name">.icon-dongtai
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-t-dayin"></span>
            <div class="name">
              打印
            </div>
            <div class="code-name">.icon-t-dayin
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-pandian"></span>
            <div class="name">
              库存盘点单
            </div>
            <div class="code-name">.icon-pandian
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-diaobodan"></span>
            <div class="name">
              调拨单
            </div>
            <div class="code-name">.icon-diaobodan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-jichu"></span>
            <div class="name">
              基础事件分类
            </div>
            <div class="code-name">.icon-jichu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-lv_xunzhang_fill"></span>
            <div class="name">
              AK-LV勋章_fill
            </div>
            <div class="code-name">.icon-lv_xunzhang_fill
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-laba"></span>
            <div class="name">
              喇叭
            </div>
            <div class="code-name">.icon-laba
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-chukuon"></span>
            <div class="name">
              出库on
            </div>
            <div class="code-name">.icon-chukuon
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-rukuon"></span>
            <div class="name">
              入库on
            </div>
            <div class="code-name">.icon-rukuon
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-password"></span>
            <div class="name">
              password
            </div>
            <div class="code-name">.icon-password
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-k-chuku"></span>
            <div class="name">
              出库
            </div>
            <div class="code-name">.icon-k-chuku
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-k-ruku"></span>
            <div class="name">
              入库
            </div>
            <div class="code-name">.icon-k-ruku
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-shangpin"></span>
            <div class="name">
              商品
            </div>
            <div class="code-name">.icon-shangpin
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-message"></span>
            <div class="name">
              message
            </div>
            <div class="code-name">.icon-message
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-tixian"></span>
            <div class="name">
              提现-色块icon
            </div>
            <div class="code-name">.icon-tixian
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-bocidadan"></span>
            <div class="name">
              订单
            </div>
            <div class="code-name">.icon-bocidadan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-bill"></span>
            <div class="name">
              订单
            </div>
            <div class="code-name">.icon-bill
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-huiyuan"></span>
            <div class="name">
              会员管理
            </div>
            <div class="code-name">.icon-huiyuan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-fahuo"></span>
            <div class="name">
              发货
            </div>
            <div class="code-name">.icon-fahuo
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-money"></span>
            <div class="name">
              财务
            </div>
            <div class="code-name">.icon-money
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-dingdan"></span>
            <div class="name">
              订单
            </div>
            <div class="code-name">.icon-dingdan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-po-liebiao"></span>
            <div class="name">
              列表
            </div>
            <div class="code-name">.icon-po-liebiao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-bozhong"></span>
            <div class="name">
              扫描
            </div>
            <div class="code-name">.icon-bozhong
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-tixianchongzhi"></span>
            <div class="name">
              提现充值
            </div>
            <div class="code-name">.icon-tixianchongzhi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-tixianjilu"></span>
            <div class="name">
              提现记录
            </div>
            <div class="code-name">.icon-tixianjilu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-username"></span>
            <div class="name">
              username
            </div>
            <div class="code-name">.icon-username
            </div>
          </li>
          
        </ul>
        <div class="article markdown">
        <h2 id="font-class-">font-class 引用</h2>
        <hr>

        <p>font-class 是 Unicode 使用方式的一种变种，主要是解决 Unicode 书写不直观，语意不明确的问题。</p>
        <p>与 Unicode 使用方式相比，具有如下特点：</p>
        <ul>
          <li>兼容性良好，支持 IE8+，及所有现代浏览器。</li>
          <li>相比于 Unicode 语意明确，书写更直观。可以很容易分辨这个 icon 是什么。</li>
          <li>因为使用 class 来定义图标，所以当要替换图标时，只需要修改 class 里面的 Unicode 引用。</li>
          <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的 fontclass 代码：</h3>
<pre><code class="language-html">&lt;link rel="stylesheet" href="./iconfont.css"&gt;
</code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
<pre><code class="language-html">&lt;span class="iconfont icon-xxx"&gt;&lt;/span&gt;
</code></pre>
        <blockquote>
          <p>"
            iconfont" 是你项目下的 font-family。可以通过编辑项目查看，默认是 "iconfont"。</p>
        </blockquote>
      </div>
      </div>
      <div class="content symbol">
          <ul class="icon_lists dib-box">
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-pinpai"></use>
                </svg>
                <div class="name">品牌</div>
                <div class="code-name">#icon-pinpai</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-bulb"></use>
                </svg>
                <div class="name">灯泡</div>
                <div class="code-name">#icon-bulb</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-yanhuo"></use>
                </svg>
                <div class="name">扫描条形码</div>
                <div class="code-name">#icon-yanhuo</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-shezhi"></use>
                </svg>
                <div class="name">设置</div>
                <div class="code-name">#icon-shezhi</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-icon-transfer"></use>
                </svg>
                <div class="name">调拨</div>
                <div class="code-name">#icon-icon-transfer</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-gift"></use>
                </svg>
                <div class="name">活动</div>
                <div class="code-name">#icon-gift</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-stock"></use>
                </svg>
                <div class="name">库存</div>
                <div class="code-name">#icon-stock</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-t-fenpei"></use>
                </svg>
                <div class="name">资源分配</div>
                <div class="code-name">#icon-t-fenpei</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-huiyuanguanli-copy"></use>
                </svg>
                <div class="name">会员管理</div>
                <div class="code-name">#icon-huiyuanguanli-copy</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-zhuangxiang"></use>
                </svg>
                <div class="name">box-箱子</div>
                <div class="code-name">#icon-zhuangxiang</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-t-wancheng"></use>
                </svg>
                <div class="name">完成</div>
                <div class="code-name">#icon-t-wancheng</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-shouye"></use>
                </svg>
                <div class="name">首页</div>
                <div class="code-name">#icon-shouye</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-zhixingyichang"></use>
                </svg>
                <div class="name">执行异常</div>
                <div class="code-name">#icon-zhixingyichang</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-qiandao"></use>
                </svg>
                <div class="name">签到</div>
                <div class="code-name">#icon-qiandao</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-dengdaishenhe"></use>
                </svg>
                <div class="name">等待审核</div>
                <div class="code-name">#icon-dengdaishenhe</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-huati"></use>
                </svg>
                <div class="name">话题00</div>
                <div class="code-name">#icon-huati</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-video"></use>
                </svg>
                <div class="name">视频</div>
                <div class="code-name">#icon-video</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-t-pandian"></use>
                </svg>
                <div class="name">PDA盘点</div>
                <div class="code-name">#icon-t-pandian</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-t-jianhuo"></use>
                </svg>
                <div class="name">首页-拣货</div>
                <div class="code-name">#icon-t-jianhuo</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-t-yanhuo"></use>
                </svg>
                <div class="name">验货</div>
                <div class="code-name">#icon-t-yanhuo</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-yichangdingdan"></use>
                </svg>
                <div class="name">订单-删除</div>
                <div class="code-name">#icon-yichangdingdan</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-dongtai"></use>
                </svg>
                <div class="name">动态</div>
                <div class="code-name">#icon-dongtai</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-t-dayin"></use>
                </svg>
                <div class="name">打印</div>
                <div class="code-name">#icon-t-dayin</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-pandian"></use>
                </svg>
                <div class="name">库存盘点单</div>
                <div class="code-name">#icon-pandian</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-diaobodan"></use>
                </svg>
                <div class="name">调拨单</div>
                <div class="code-name">#icon-diaobodan</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-jichu"></use>
                </svg>
                <div class="name">基础事件分类</div>
                <div class="code-name">#icon-jichu</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-lv_xunzhang_fill"></use>
                </svg>
                <div class="name">AK-LV勋章_fill</div>
                <div class="code-name">#icon-lv_xunzhang_fill</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-laba"></use>
                </svg>
                <div class="name">喇叭</div>
                <div class="code-name">#icon-laba</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-chukuon"></use>
                </svg>
                <div class="name">出库on</div>
                <div class="code-name">#icon-chukuon</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-rukuon"></use>
                </svg>
                <div class="name">入库on</div>
                <div class="code-name">#icon-rukuon</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-password"></use>
                </svg>
                <div class="name">password</div>
                <div class="code-name">#icon-password</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-k-chuku"></use>
                </svg>
                <div class="name">出库</div>
                <div class="code-name">#icon-k-chuku</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-k-ruku"></use>
                </svg>
                <div class="name">入库</div>
                <div class="code-name">#icon-k-ruku</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-shangpin"></use>
                </svg>
                <div class="name">商品</div>
                <div class="code-name">#icon-shangpin</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-message"></use>
                </svg>
                <div class="name">message</div>
                <div class="code-name">#icon-message</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-tixian"></use>
                </svg>
                <div class="name">提现-色块icon</div>
                <div class="code-name">#icon-tixian</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-bocidadan"></use>
                </svg>
                <div class="name">订单</div>
                <div class="code-name">#icon-bocidadan</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-bill"></use>
                </svg>
                <div class="name">订单</div>
                <div class="code-name">#icon-bill</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-huiyuan"></use>
                </svg>
                <div class="name">会员管理</div>
                <div class="code-name">#icon-huiyuan</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-fahuo"></use>
                </svg>
                <div class="name">发货</div>
                <div class="code-name">#icon-fahuo</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-money"></use>
                </svg>
                <div class="name">财务</div>
                <div class="code-name">#icon-money</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-dingdan"></use>
                </svg>
                <div class="name">订单</div>
                <div class="code-name">#icon-dingdan</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-po-liebiao"></use>
                </svg>
                <div class="name">列表</div>
                <div class="code-name">#icon-po-liebiao</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-bozhong"></use>
                </svg>
                <div class="name">扫描</div>
                <div class="code-name">#icon-bozhong</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-tixianchongzhi"></use>
                </svg>
                <div class="name">提现充值</div>
                <div class="code-name">#icon-tixianchongzhi</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-tixianjilu"></use>
                </svg>
                <div class="name">提现记录</div>
                <div class="code-name">#icon-tixianjilu</div>
            </li>
          
            <li class="dib">
                <svg class="icon svg-icon" aria-hidden="true">
                  <use xlink:href="#icon-username"></use>
                </svg>
                <div class="name">username</div>
                <div class="code-name">#icon-username</div>
            </li>
          
          </ul>
          <div class="article markdown">
          <h2 id="symbol-">Symbol 引用</h2>
          <hr>

          <p>这是一种全新的使用方式，应该说这才是未来的主流，也是平台目前推荐的用法。相关介绍可以参考这篇<a href="">文章</a>
            这种用法其实是做了一个 SVG 的集合，与另外两种相比具有如下特点：</p>
          <ul>
            <li>支持多色图标了，不再受单色限制。</li>
            <li>通过一些技巧，支持像字体那样，通过 <code>font-size</code>, <code>color</code> 来调整样式。</li>
            <li>兼容性较差，支持 IE9+，及现代浏览器。</li>
            <li>浏览器渲染 SVG 的性能一般，还不如 png。</li>
          </ul>
          <p>使用步骤如下：</p>
          <h3 id="-symbol-">第一步：引入项目下面生成的 symbol 代码：</h3>
<pre><code class="language-html">&lt;script src="./iconfont.js"&gt;&lt;/script&gt;
</code></pre>
          <h3 id="-css-">第二步：加入通用 CSS 代码（引入一次就行）：</h3>
<pre><code class="language-html">&lt;style&gt;
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
&lt;/style&gt;
</code></pre>
          <h3 id="-">第三步：挑选相应图标并获取类名，应用于页面：</h3>
<pre><code class="language-html">&lt;svg class="icon" aria-hidden="true"&gt;
  &lt;use xlink:href="#icon-xxx"&gt;&lt;/use&gt;
&lt;/svg&gt;
</code></pre>
          </div>
      </div>

    </div>
  </div>
  <script>
  $(document).ready(function () {
      $('.tab-container .content:first').show()

      $('#tabs li').click(function (e) {
        var tabContent = $('.tab-container .content')
        var index = $(this).index()

        if ($(this).hasClass('active')) {
          return
        } else {
          $('#tabs li').removeClass('active')
          $(this).addClass('active')

          tabContent.hide().eq(index).fadeIn()
        }
      })
    })
  </script>
</body>
</html>
